<link rel="stylesheet" href="styles/main.css">
<img class="intro-bg" src="../images/intro-bg.jpg" />

<div class="container auth-forms-dark">
	<div class="row">
		<div class="col-md-12">
            <center>
            <h2>Login to your Account</h2>
            </center>
        </div>
	</div>
	<hr />
	<form name="forma" ng-submit="login()">
	<p ng-show="error" class="text-danger">{{ error }}</p>
	    
		<div class="row"> 
			<div class="col-md-6">
				<input type="email" ng-model="user.email" placeholder="Email" class="form-control input-lg">
			</div>
			<div class="col-md-6">
				<input type="password" ng-model="user.password" placeholder="Password" class="form-control input-lg">
			</div>
		</div>
  	</form>
  	<hr />
    <div class="row">
        <div class="col-md-8">
                
        </div>
        <div class="col-md-4">
            <input type="submit" ng-click="login()" value="Log in" style="color : white; :hover{color:white;}" class="btn btn-success btn-lg pull-right btn-block" />
        </div>
    </div>
</div>