
<nav ng-controller="MainCtrl" ng-class="{'navbar navbar-default mynav1' : !signedIn() }" class="navbar navbar-default mynav">
  <div class="container-fluid">
    <div class="row">
      <a class="navbar-brand pull-left" style="margin-left:5px; margin-bottom : 5px;" href="#/main"><img class="nav-logo" width=60 src="../images/logo.png" alt="My Mission Admission" /></a>
      <div class="" style="float:right;" ng-controller="MainCtrl">
        <div ng-show="signedIn()" style="float:right;" ng-if="(usera.profile.profiletype == 'admin')" class="outer-div">
          <div class="dash-name" style="float:right;">
            <div class="container-fluid" style="float:right;">
              <div class="row" style="float:right;">
                <div class="col-xs-1 user-img">
                  <div ng-if="(usera.profile.adminphoto == 'pic_not_uploaded') ">
                    <img ng-src="http://png-3.findicons.com/files/icons/2463/glossy/512/user_male.png" alt="" class="img-circle" width="32">
                  </div>
                  <div ng-if=" usera.profile.adminphoto != 'pic_not_uploaded' ">
                    <img ng-src="{{ usera.profile.adminphoto }}" class="img-circle" alt="" width="32">
                  </div>
                </div>
                <div class="user-name" style="float:right;">
                  <div class="row">
                      &nbsp;&nbsp;{{ usera.profile.adminname }}&nbsp;&nbsp;
                      <i class="fa fa-caret-down arr-ani"></i>&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>
            <div class="dash-name-dropdown">
              <ul class="" role="menu">
                <li >
                  <a href="#/dashboard-admin"><i class="fa fa-desktop"></i>&nbsp;&nbsp;&nbsp;Dashboard</a>
                </li>
                <li >
                  <a ng-href="#/main" ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div ng-show="signedIn()" style="float:right;" ng-if="(user.profile.profiletype == 'student')" class="outer-div">
          <div class="dash-name" style="float:right;">
            <div class="container-fluid" style="float:right;">
              <div class="row" style="float:right;">
                <div class="col-xs-1 user-img">
                  <div ng-if="(user.profile.studentphoto == 'pic_not_uploaded') ">
                    <img ng-src="http://www.gravatar.com/avatar/{{ user.profile.md5_hash }}" alt="" class="img-circle" width="32">
                  </div>
                  <div ng-if=" user.profile.studentphoto != 'pic_not_uploaded' ">
                    <img ng-src="{{ user.profile.studentphoto }}" class="img-circle" alt="" width="32">
                  </div>
                </div>
                <div class="user-name" style="float:right;">
                  <div class="row">
                      &nbsp;&nbsp;{{ user.profile.studentname }}&nbsp;&nbsp;
                      <i class="fa fa-caret-down arr-ani"></i>&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>
            <div class="dash-name-dropdown">
              <ul class="" role="menu">
                <li >
                  <a href="#/dashboard"><i class="fa fa-desktop"></i>&nbsp;&nbsp;&nbsp;Dashboard</a>
                </li>
                <li >
                  <a ng-href="#/main" ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div ng-show="signedIn()" style="float:right;" ng-if="(userc.profile.profiletype == 'college')" class="outer-div">
          <div class="dash-name" style="float:right;">
            <div class="container-fluid" style="float:right;">
              <div class="row" style="float:right;">
                <div class="col-xs-1 user-img">
                  <div ng-if="(userc.profile.collegephoto == 'pic_not_uploaded') ">
                    <img ng-src="http://www.gravatar.com/avatar/{{ userc.profile.md5_hash }}" alt="" class="img-circle" width="32">
                  </div>
                  <div ng-if=" userc.profile.collegephoto != 'pic_not_uploaded' ">
                    <img ng-src="{{ userc.profile.collegephoto }}" class="img-circle" alt="" width="32">
                  </div>
                </div>
                <div class="user-name" style="float:right;">
                  <div class="row">
                      &nbsp;&nbsp;{{ userc.profile.collegename }}&nbsp;&nbsp;
                      <i class="fa fa-caret-down arr-ani"></i>&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>
            <div class="dash-name-dropdown">
              <ul class="" role="menu">
                <li >
                  <a href="#/dashboard-college"><i class="fa fa-desktop"></i>&nbsp;&nbsp;&nbsp;Dashboard</a>
                </li>
                <li >
                  <a ng-href="#/main" ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div ng-hide="signedIn()" ng-controller="NavCtrl" class="" class="outer-div">
          <div ng-click="go('/college')" class="dash-name" style="border-left : 0px solid white;">
            <div class="container-fluid">
              <div class="row" ng-hide="regpage()">
                <div class="col-sm-2 col-xs-2 user-name">
                  <div>
                    <i class="fa fa-university"></i>
                  </div>
                </div>
                <div class="col-sm-10 col-xs-10 user-name">
                  List Your College
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</nav>